* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: Arial,Helvetica,sans-serif;
  overflow-x: hidden;
}

.top-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: #f72210;
  height: 50px;
  padding: 8px 15px 0;
}

.right-top-header {
  text-align: right;
}

.middle-header, .bottom-header {
  display: none;
}
.logo svg {
  fill: white;
  width: 132px;
}
.big-logo svg {
  fill: white;
}
.header-btn {
  font-size: 16px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  background: none;
  font-weight: bold;
}
.login-btn {
  display: none;
  color: white;
}

.subscribe-btn {
  color: black;
  background: #ffe400;
  border-radius: 24px;
}

.person-btn i {
  font-size: 24px;
  color: white;
}

.menu-btn {
  color: rgba(255,255,255,.55);
}

.right-middle-header {
  text-align: right;
}

.right-middle-header>*{
  display: inline-block;
  vertical-align: text-bottom;
}

.weather-icon {
  width: 24px;
  height: 24px;

}

.weather-link, .weather-link:hover {
  color: white;
  text-decoration: none;
}

.middle-header-row p {
  color: white;
}
.bottom-header a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.bottom-header a:hover {
  color: #f72210;
  text-decoration: none;
}

.bottom-header ul {
  display: flex;
  justify-content: center;
  width: calc(90% - 66px);
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed",sans-serif;
  padding-top: 20px;
}

.bottom-header li {
  flex-grow: 1;
  text-align: center;
  list-style: none;
}

.bottom-header li:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}

.bottom-header * {
  display: inline-block;
  vertical-align: middle;
}

.search {
  position: absolute;
  right: 120px;
  top: 115px;
}

.search input {
  width: 80px;
  border: none;
}

.search input:focus {
  border: none;
  outline: none;
}

.search-icon {
  margin-left: -20px;
}

@media screen and (min-width: 768px) {
  body {
      font-size: 15px;
      line-height: 20px;
  }
  .header-btn {
    font-size: 18px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-btn {
    display: inline-block;
  }
  .person-btn {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .top-header {
    display: none;
  }
  .middle-header {
    display: block;
    height: 95px;
    padding: 20px 30px 15px;
    background-color: #f72210;
  }
  .fixed-top-nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
  }
  .bottom-header {
    display: block;
    background-color: white;
    height: 60px;
  }

  .bottom-header::before {
    width: 66px;
    position: absolute;
    top: 95px;
    right: 15px;
    content: "";
    display: block;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }
}
.featured-img {
  width: 100%;
}
@media screen and (min-width: 1320px) {
  .wrapper {
    background: #f4f5f6;
    padding: 0 15px;
  }
}



.window-row {
  padding: 20px 30px;
  background-color: white;
  border-top: 2px solid #f4f5f6;
  border-bottom: 2px solid #f4f5f6;
}

.window-row .main-row:not(:last-child) {
  border-bottom: 1px solid #f4f5f6;
  /* padding-bottom: 1em; */
  /* margin-bottom: 1em; */
}

.section-title {
  border-bottom: 1px solid #f4f5f6;
}
